@model IEnumerable<FirtsWebMVC.Models.HeThongPhanPhoi>

@{
    ViewData["Title"] = "Index";
}

<div class="w3-row">
    <b>DANH SACH HE THONG PHAN PHOI</b>
    <a class="w3-right w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Create New</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>
                @Html.DisplayNameFor(model => model.MaHTTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHTTP)
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHTTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHTTP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHTTP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHTTP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHTTP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
