@model IEnumerable<FirtsWebMVC.Models.Person>

@{
    ViewData["Title"] = "Index";
}
<h1>PERSON LIST</h1>

<div class="w3-row">
    <a class="w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Create New</a>
    <a class="w3-right w3-big w3-btn w3-round w3-border w3-teal" asp-action="Download">Download file</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>