@model IEnumerable<FirtsWebMVC.Models.DaiLy>

@{
    ViewData["Title"] = "Index";
}

<div class="w3-row">
    <b>DANH SÁCH ĐẠI LÝ</b>
    <a class="w3-right w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Create New</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>
                @Html.DisplayNameFor(model => model.TenDaiLy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeThongPhanPhoi)
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDaiLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeThongPhanPhoi.MaHTTP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDaiLy">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDaiLy">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDaiLy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
